Repository few-letter/few-be, pull requests merged in 2025-06, with the labels that each got.

#641 [Fix/#640] HttpStatusException catch 처리하여 retry 수행되도록 수정
  domain/generator/src/main/kotlin/com/few/generator/core/Scrapper.kt
Labels: bug, fix

#647 [Fix#646]429 발생하지 않더라도 기본 1~5초 텀 두도록 설정
  domain/generator/src/main/kotlin/com/few/generator/core/Scrapper.kt
Labels: bug, fix

#649 [Fix/#648] GPT 호출시 raw text가 압축되어 보내지던 문제 해결
  domain/generator/src/main/kotlin/com/few/generator/config/jpa/CompressedBase64Converter.kt
  domain/generator/src/main/kotlin/com/few/generator/domain/RawContents.kt
  domain/generator/src/main/kotlin/com/few/generator/service/RawContentsService.kt
  domain/generator/src/main/kotlin/com/few/generator/usecase/RawContentsBrowseContentUseCase.kt
Labels: bug, config, fix

#654 [Chore/#653] readme 수정
  README.md
Labels: chore

#651 [Feat/#643] 컨텐츠 스케줄링 동시 1회만 수행되도록 수정
  domain/generator/src/main/kotlin/com/few/generator/usecase/SchedulingUseCase.kt
Labels: feature, fix

#660 [Fix/#659] 컨텐츠 생성 절차 URL 별로 분리
  domain/generator/src/main/kotlin/com/few/generator/core/Scrapper.kt
  domain/generator/src/main/kotlin/com/few/generator/event/dto/ContentsSchedulingEventDto.kt
  domain/generator/src/main/kotlin/com/few/generator/event/handler/ContentsSchedulingHandler.kt
  domain/generator/src/main/kotlin/com/few/generator/service/GenService.kt
  domain/generator/src/main/kotlin/com/few/generator/service/RawContentsService.kt
  domain/generator/src/main/kotlin/com/few/generator/usecase/SchedulingUseCase.kt
Labels: bug, fix

#663 [Fix/#662] 모듈 정리간 삭제된 설정 복구
  api/build.gradle.kts
  api/src/main/resources/application.yml
  domain/generator/build.gradle.kts
Labels: fix

#674 [Feat/#669] 컨텐츠 조회 무한스크롤 조회 구현
  domain/generator/src/main/kotlin/com/few/generator/controller/ContentsGeneratorController.kt
  domain/generator/src/main/kotlin/com/few/generator/controller/response/BrowseContentResponses.kt
  domain/generator/src/main/kotlin/com/few/generator/domain/Gen.kt
  domain/generator/src/main/kotlin/com/few/generator/repository/GenRepository.kt
  domain/generator/src/main/kotlin/com/few/generator/usecase/BrowseContentsUseCase.kt
  domain/generator/src/main/kotlin/com/few/generator/usecase/out/BrowseContentsUsecaseOuts.kt
  domain/generator/src/main/resources/application-generator-local.yaml
  domain/generator/src/main/resources/application-generator-prd.yaml
  library/common/src/main/kotlin/common/config/JacksonConfig.kt
  library/web/src/main/kotlin/web/security/config/ProdDelegatedSecurityConfigurer.kt
Labels: config, feature

#681 [Refactor/#639] GEN TYPE 일괄 삭제
  domain/generator/src/main/kotlin/com/few/generator/domain/Gen.kt
  domain/generator/src/main/kotlin/com/few/generator/domain/GenType.kt
  domain/generator/src/main/kotlin/com/few/generator/service/GenService.kt
  domain/generator/src/main/kotlin/com/few/generator/service/strategy/GenGenerationStrategy.kt
  domain/generator/src/main/kotlin/com/few/generator/service/strategy/Material.kt
  domain/generator/src/main/kotlin/com/few/generator/service/strategy/ShortGenGenerationStrategy.kt
Labels: refactor

#682 [Feat/#671] 스웨거 프로퍼티 및 환경 설정 추가
  library/common/src/main/kotlin/common/config/SwaggerConfig.kt
Labels: config, feature

#684 [Feat/#683] 스웨거 주소 수정
  library/common/src/main/kotlin/common/config/SwaggerConfig.kt
Labels: config, fix

#688 [Fix/#687] thumbnailImageUrl 및 imageUrls 데이터 개선
  domain/generator/src/main/kotlin/com/few/generator/core/scrapper/Scrapper.kt
  domain/generator/src/main/kotlin/com/few/generator/core/scrapper/naver/NaverExtractor.kt
  domain/generator/src/main/kotlin/com/few/generator/core/scrapper/naver/NaverScrapper.kt
  domain/generator/src/main/kotlin/com/few/generator/service/RawContentsService.kt
Labels: fix

#699 [Fix/#698] title 스크래핑 개선 2차
  domain/generator/src/main/kotlin/com/few/generator/core/scrapper/naver/NaverExtractor.kt
  domain/generator/src/main/kotlin/com/few/generator/core/scrapper/naver/NaverScrapper.kt
  domain/generator/src/main/kotlin/com/few/generator/domain/MediaType.kt
Labels: fix

#700 [Fix/#664] raw text 스크래핑 예외 처리
  domain/generator/src/main/kotlin/com/few/generator/controller/ContentsGeneratorController.kt
  domain/generator/src/main/kotlin/com/few/generator/core/scrapper/naver/NaverScrapper.kt
Labels: fix
