Repository few-letter/few-be, pull requests merged in 2025-03, with the labels that each got.

#609 [Refactor/#608] 불필요한 파일 및 의존성 삭제
  api/src/main/resources/application.yml
  library/event/build.gradle.kts
  library/event/src/main/kotlin/event/Event.kt
  library/event/src/main/kotlin/event/EventDetails.kt
  library/event/src/main/kotlin/event/EventHandler.kt
  library/event/src/main/kotlin/event/EventRePlayer.kt
  library/event/src/main/kotlin/event/EventUtils.kt
  library/event/src/main/kotlin/event/TimeOutEvent.kt
  library/event/src/main/kotlin/event/config/EventConfig.kt
  library/event/src/main/kotlin/event/domain/DomainAbstractAggregateRoot.kt
  library/event/src/main/kotlin/event/domain/DomainEventPublishingMethod.kt
  library/event/src/main/kotlin/event/domain/DomainEventPublishingMethodInterceptor.kt
  library/event/src/main/kotlin/event/domain/DomainEventPublishingProxyPostProcessor.kt
  library/event/src/main/kotlin/event/domain/EventPublication.kt
  library/event/src/main/kotlin/event/domain/PublishEvents.kt
  library/event/src/main/kotlin/event/domain/TraceAbleEvent.kt
  library/event/src/main/kotlin/event/domain/util/AnnotationDetectionMethodCallback.kt
  library/event/src/main/kotlin/event/domain/util/PublicationTargetIdentifierMixin.kt
  library/event/src/main/kotlin/event/message/Message.kt
  library/event/src/main/kotlin/event/message/MessageMapper.kt
  library/event/src/main/kotlin/event/message/MessagePayload.kt
  library/event/src/main/kotlin/event/message/MessageRelay.kt
  library/event/src/main/kotlin/event/message/MessageReverseRelay.kt
  library/event/src/main/kotlin/event/message/MessageSender.kt
  library/event/src/main/kotlin/event/message/local/LocalMessageBroadCaster.kt
  library/event/src/main/kotlin/event/message/local/LocalMessageConfig.kt
  library/event/src/main/kotlin/event/message/local/LocalSubscribeMessage.kt
  library/event/src/test/kotlin/event/fixtures/TestEvent.kt
  library/event/src/test/kotlin/event/fixtures/TestLocalMessageRelay.kt
  library/event/src/test/kotlin/event/fixtures/TestLocalMessageReverseRelay.kt
  library/event/src/test/kotlin/event/fixtures/TestLocalMessageSender.kt
  library/event/src/test/kotlin/event/fixtures/TestMessage.kt
  library/event/src/test/kotlin/event/fixtures/TestReverseMessage.kt
  library/event/src/test/kotlin/event/fixtures/TestTimeOutEvent.kt
  library/event/src/test/kotlin/event/message/MessageTest.kt
  library/event/src/test/kotlin/event/message/local/LocalMessageBroadCasterTest.kt
  library/web/build.gradle.kts
  library/web/src/main/kotlin/web/config/VaadinConfig.kt
  library/web/src/main/kotlin/web/view/CommonVerticalLayout.kt
  library/web/src/main/kotlin/web/view/LoginView.kt
  settings.gradle.kts
Labels: config, refactor

#611 [Fix/#610] generator yaml에 datasource 설정이 잘 못된 문제 해결
  domain/generator/src/main/resources/application-generator-prd.yaml
Labels: fix

#614 [Feat/#613] GPT 생성 컨텐츠 조회 API 추가
  domain/generator/src/main/kotlin/com/few/generator/controller/ContentsGeneratorController.kt
  domain/generator/src/main/kotlin/com/few/generator/controller/response/BrowseContentsResponse.kt
  domain/generator/src/main/kotlin/com/few/generator/domain/Gen.kt
  domain/generator/src/main/kotlin/com/few/generator/domain/GenType.kt
  domain/generator/src/main/kotlin/com/few/generator/domain/ProvisioningContents.kt
  domain/generator/src/main/kotlin/com/few/generator/domain/RawContents.kt
  domain/generator/src/main/kotlin/com/few/generator/repository/GenRepository.kt
  domain/generator/src/main/kotlin/com/few/generator/repository/ProvisioningContentsRepository.kt
  domain/generator/src/main/kotlin/com/few/generator/service/GenService.kt
  domain/generator/src/main/kotlin/com/few/generator/service/strategy/BasicGenGenerationStrategy.kt
  domain/generator/src/main/kotlin/com/few/generator/service/strategy/GenGenerationStrategy.kt
  domain/generator/src/main/kotlin/com/few/generator/service/strategy/KoreanGenGenerationStrategy.kt
  domain/generator/src/main/kotlin/com/few/generator/service/strategy/KoreanLongQuestionGenGenerationStrategy.kt
  domain/generator/src/main/kotlin/com/few/generator/service/strategy/KoreanQuestionGenGenerationStrategy.kt
  domain/generator/src/main/kotlin/com/few/generator/support/common/Constant.kt
  domain/generator/src/main/kotlin/com/few/generator/usecase/RawContentsBrowseContentUseCase.kt
  domain/generator/src/main/kotlin/com/few/generator/usecase/out/BrowseContentsUsecaseOut.kt
  library/web/src/main/kotlin/web/security/config/LocalDelegatedSecurityConfigurer.kt
Labels: config, feature

#616 [Feat/#615] 프로비저닝 컨텐츠 카테고리 추가
  domain/generator/src/main/kotlin/com/few/generator/controller/ContentsGeneratorController.kt
  domain/generator/src/main/kotlin/com/few/generator/controller/response/BrowseContentsResponse.kt
  domain/generator/src/main/kotlin/com/few/generator/core/gpt/prompt/PromptGenerator.kt
  domain/generator/src/main/kotlin/com/few/generator/core/gpt/prompt/schema/CategorySchema.kt
  domain/generator/src/main/kotlin/com/few/generator/domain/Category.kt
  domain/generator/src/main/kotlin/com/few/generator/domain/GenType.kt
  domain/generator/src/main/kotlin/com/few/generator/domain/ProvisioningContents.kt
  domain/generator/src/main/kotlin/com/few/generator/service/ProvisioningService.kt
  domain/generator/src/main/kotlin/com/few/generator/usecase/RawContentsBrowseContentUseCase.kt
  domain/generator/src/main/kotlin/com/few/generator/usecase/out/BrowseContentsUsecaseOut.kt
Labels: feature

#619 [Feat/#618] 컨텐츠 생성 API 분리
  domain/generator/src/main/kotlin/com/few/generator/config/feign/OpenAiErrorDecoder.kt
  domain/generator/src/main/kotlin/com/few/generator/controller/ContentsGeneratorController.kt
  domain/generator/src/main/kotlin/com/few/generator/controller/request/CreateGensRequest.kt
  domain/generator/src/main/kotlin/com/few/generator/controller/response/BrowseContentsResponse.kt
  domain/generator/src/main/kotlin/com/few/generator/controller/response/CodeValueResponse.kt
  domain/generator/src/main/kotlin/com/few/generator/controller/response/ContentsGeneratorResponse.kt
  domain/generator/src/main/kotlin/com/few/generator/core/Scrapper.kt
  domain/generator/src/main/kotlin/com/few/generator/core/gpt/prompt/PromptGenerator.kt
  domain/generator/src/main/kotlin/com/few/generator/domain/Category.kt
  domain/generator/src/main/kotlin/com/few/generator/domain/GenType.kt
  domain/generator/src/main/kotlin/com/few/generator/repository/GenRepository.kt
  domain/generator/src/main/kotlin/com/few/generator/service/GenService.kt
  domain/generator/src/main/kotlin/com/few/generator/service/ProvisioningService.kt
  domain/generator/src/main/kotlin/com/few/generator/service/RawContentsService.kt
  domain/generator/src/main/kotlin/com/few/generator/service/strategy/BasicGenGenerationStrategy.kt
  domain/generator/src/main/kotlin/com/few/generator/service/strategy/KoreanGenGenerationStrategy.kt
  domain/generator/src/main/kotlin/com/few/generator/service/strategy/LongGenGenerationStrategy.kt
  domain/generator/src/main/kotlin/com/few/generator/service/strategy/QuestionGenGenerationStrategy.kt
  domain/generator/src/main/kotlin/com/few/generator/service/strategy/ShortGenGenerationStrategy.kt
  domain/generator/src/main/kotlin/com/few/generator/support/common/Constant.kt
  domain/generator/src/main/kotlin/com/few/generator/usecase/CreateAllUseCase.kt
  domain/generator/src/main/kotlin/com/few/generator/usecase/CreateGenUseCase.kt
  domain/generator/src/main/kotlin/com/few/generator/usecase/CreateProvisioningUseCase.kt
  domain/generator/src/main/kotlin/com/few/generator/usecase/RawContentsBrowseContentUseCase.kt
  domain/generator/src/main/kotlin/com/few/generator/usecase/out/BrowseContentsUsecaseOut.kt
  domain/generator/src/main/kotlin/com/few/generator/usecase/out/CodeValue.kt
  domain/generator/src/main/kotlin/com/few/generator/usecase/out/ContentsGeneratorUseCaseOut.kt
  library/web/src/main/kotlin/web/handler/ControllerExceptionHandler.kt
  library/web/src/main/kotlin/web/handler/exception/BadRequestException.kt
  library/web/src/main/kotlin/web/security/config/LocalDelegatedSecurityConfigurer.kt
Labels: config, feature
